<div class='product__details'>
  {{! Header }}
  <div>
    <h3>T-Shirt: Ukraine</h3>
    <div class='text-warning'>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star'></i>
      <i class='fa fa-star-half'></i>
    </div>
  </div>
  {{! Section }}
  <div>
    <del class='small text-black-50'>$199.90</del>
    <i class='text-danger fw-bold'>$99.90</i>
  </div>
</div>
