{{page-title 'Item'}}
<GeneralContainer>
  <div class='product item-details-page'>
    <Product::Image />
    <Product::Details />
  </div>
  <h5>Description:</h5>
  <ul>
    <li>T Shirt</li>
    <li>Oversized t shirt
    </li>
    <li>Standard fit
    </li>
    <li>Perfect for the casual day
    </li>
    <li>Regular length</li>
    <li>Short sleeves</li>
  </ul>

</GeneralContainer>
{{outlet}}
